#VPContent {
    display: flex;
    flex-direction: column;
}

#VPContent > div.VPDoc {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: 0 !important;
}

#VPContent > div > div.container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

#VPContent > div > div > div.content {
    padding-bottom: 50px;
}

#VPContent > div > div > div.content > div.content-container {
    height: 100% !important;
    display: flex !important;
    justify-content: start !important;
    flex-direction: column !important;
}

#VPContent > div > div > div.content > div.content-container > main {
   flex-grow: 1 !important;
}

.VPHome {flex-grow: 1; padding: 0px !important;}

:root {
    --vp-c-bg-mute: var(--vp-button-alt-bg);
    --vp-c-green: #6897ff;
    --vp-c-green-light: #76acff;
    --vp-c-green-lighter: #a0beff;
    --vp-c-green-dark: #005be3;
    --vp-c-green-darker: #0045ac;
    --vp-c-green-dimm-1: rgba(39, 112, 222, 0.05);
    --vp-c-green-dimm-2: rgba(39, 112, 222, 0.25);
    --vp-c-green-dimm-3: rgba(39, 112, 222, 0.5);
}
