#VPContent {
    display: flex;
    flex-direction: column;
}

#VPContent > div.VPDoc {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: 0 !important;
}

#VPContent > div > div.container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

#VPContent > div > div > div.content {
    padding-bottom: 50px;
}

#VPContent > div > div > div.content > div.content-container {
    height: 100% !important;
    display: flex !important;
    justify-content: start !important;
    flex-direction: column !important;
}

#VPContent > div > div > div.content > div.content-container > main {
   flex-grow: 1 !important;
}

#VPContent > div > div.VPHero.VPHomeHero > div > div > p.text {
    font-size: 30px;
}
.VPFeature {
    background-color: -webkit-linear-gradient(315deg,#42d392,#647eff) !important;
}

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #bd34fe, #41d1ff);
}
