name: Deploy on GH Pages

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Publish site
    runs-on: ubuntu-latest
    environment: deploy
    steps:
    - name: Checkout Commit
      uses: actions/checkout@v3
      with:
          fetch-depth: 1

    - uses: pnpm/action-setup@v2
      with:
        version: 8

    - name: Setup Node
      uses: actions/setup-node@v3
      with:
        node-version: 18
        cache: pnpm

    - run: pnpm install --frozen-lockfile
    - run: python GenBlogMetaData.py
    - run: pnpm build
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      if: ${{ github.ref == 'refs/heads/main' }}
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: public
